* {
  margin-left: 0;
  margin-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* header */
.header {
  width: 100%;
  height: 200px;
}
@media (max-width: 992px) {
  .header {
    text-align: center;
  }
}
.header .site-hero {
  padding: 200px 0px 237px 0px;
  height: 200px;
}
.header .site-hero .row .site-hero__heading-title {
  color: white;
}
.header .site-hero .row .site-hero__heading {
  max-width: 555px;
  width: 100%;
  color: #fff;
  font-size: 90px;
  font-weight: 700;
  line-height: 130%; /* 117px */
  letter-spacing: 3.6px;
  text-transform: capitalize;
}

.navbar {
  height: 92px;
  background: #bb2339;
}
.navbar .offcanvas {
  background: #bb2339;
}

@media (max-width: 992px) {
  .navbar .offcanvas {
    background-image: url("../../assets/images/menu-carousel-card1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.offcanvas .nav-item {
  padding: 0px 15px;
}

.offcanvas .nav-link {
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.offcanvas .nav-link:hover {
  padding: 12px 20px;
  color: gray;
}

.site-nav-btn {
  padding: 12px 28px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  background-color: transparent;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.site-nav-btn:hover {
  color: #bb2339;
  background-color: white;
}

#backtop {
  position: fixed;
  bottom: 50px;
  right: 90px;
  background-color: grey;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#backtop a {
  padding: 20px;
  display: block;
}

#backtop .backtop-show {
  bottom: 50px;
}

.footer {
  margin-top: 320px;
}