* {
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

//common//

#backtop {
  position: fixed;
  background-color: rgb(124, 41, 41);
  top: 500px;
  right: 200px;
  padding: 10px;
}

// hero section//
/* header */
.header {
  width: 100%;
  height: 200px;

  @media (max-width: 992px) {
    text-align: center;
  }
  .site-hero {
    padding: 200px 0px 237px 0px;
    height: 200px;
    .row {
      .site-hero__heading-title {
        color: white;
      }

      .site-hero__heading {
        max-width: 555px;
        width: 100%;
        color: #fff;

        font-size: 90px;
        font-weight: 700;
        line-height: 130%; /* 117px */
        letter-spacing: 3.6px;
        text-transform: capitalize;
      }
    }
  }
}

.navbar {
  backdrop-filter: blur(300px);
  height: 92px;
  background: #bb2339;
  .offcanvas {
    background: #bb2339;
  }
}

@media (max-width: 992px) {
  .navbar .offcanvas {
    background-image: url("../../assets/images/menu-carousel-card1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.offcanvas .nav-item {
  padding: 0px 15px;
}

.offcanvas .nav-link {
  color: white;
  transition: all 0.5s;
}
.offcanvas .nav-link:hover {
  padding: 12px 20px;
  color: gray;
}
.site-nav-btn {
  padding: 12px 28px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  background-color: transparent;
  color: #fff;
  text-transform: capitalize;
  transition: all 0.7s;
}
.site-nav-btn:hover {
  color: #bb2339;
  background-color: white;
}

// hero section//

.card-cantact {
  max-width: 100%;
  border-radius: 14px;
  max-width: 100%;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
  width: 420px;
  margin-top: 15px;
  height: 110px;
  padding: 27px 153px 42px 20px;
}

.contact-title {
  text-align: center;
  max-width: 100%;
  color: #242424;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 64px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.92px;
  text-transform: capitalize;
}

.contact-right {
  max-width: 100%;
  width: 790px;
  height: 610px;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
  .typing-area {
    padding: 40px 40px 50px 40px;
  }
}
.btn-contact {
  background: transparent;
  padding: 18px 48px;
  border-radius: 39px;
  border: none;
  background: var(--qizil, #bb2339);
  color: white;
  &:hover {
    transform: scale(1.1);
    transition: 0.4s;
    background: white;
    border: 1px solid #bb2339;
    color: #bb2339;
  }
}

.map {
  color: #000;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 38px;
  margin-bottom: 300px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.14px;
  text-transform: capitalize;
}

.contact-p {
  max-width: 100%;
}

.form-inputt {
  max-width: 100%;
  width: 345px;
  height: 58px;
  border-radius: 12px;
  border: 1px solid rgba(51, 34, 68, 0.1);
  background: #fff;
}

.texttarea {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 710px;
  height: 150px;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
}

// footer//
.footer {
}
